In [5]:
import pandas as pd
import os
import numpy as np
import sys
sys.path.append('..')

In [7]:
data = pd.read_csv(r'../data/raw/train_values.csv', delimiter=',')

In [8]:
train_labels = pd.read_csv(r'../data/raw/train_labels.csv', delimiter=',')

In [11]:
merged_df = pd.merge(data, train_labels, on='building_id', how='inner')

In [13]:
merged_df.damage_grade.value_counts()
data = merged_df

In [15]:
merged_df.columns

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other',
       'damage_grade'],
      dtype='object')

In [17]:
data.shape

(260601, 40)

In [19]:
data.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3

In [21]:
data.describe()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
count,2.606010e+05,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,...,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000
mean,5.256755e+05,13.900353,701.074685,6257.876148,2.129723,26.535029,8.018051,5.434365,0.088645,0.761935,...,0.033626,0.008101,0.000940,0.000361,0.001071,0.000188,0.000146,0.000088,0.005119,2.238272
std,3.045450e+05,8.033617,412.710734,3646.369645,0.727665,73.565937,4.392231,1.918418,0.284231,0.425900,...,0.180265,0.089638,0.030647,0.018989,0.032703,0.013711,0.012075,0.009394,0.071364,0.611814
min,4.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.611900e+05,7.000000,350.000000,3073.000000,2.000000,10.000000,5.000000,4.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,5.257570e+05,12.000000,702.000000,6270.000000,2.000000,15.000000,7.000000,5.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,7.897620e+05,21.000000,1050.000000,9412.000000,2.000000,30.000000,9.000000,6.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.052934e+06,30.000000,1427.000000,12567.000000,9.000000,995.000000,100.000000,32.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000

In [23]:
print(os.getcwd())

C:\Users\Administrator\Desktop\raphi_other\repositories\mini_comp\notebooks

In [25]:
from src.eda_first import summarize_dataframe
summarize_dataframe(data)

,Column,Data Type,Unique Values,Missing Values,Sample Unique Values
0,building_id,int64,260601,0,"[802906, 28830, 94947, 590882, 201944]"
1,geo_level_1_id,int64,31,0,"[6, 8, 21, 22, 11]"
2,geo_level_2_id,int64,1414,0,"[487, 900, 363, 418, 131]"
3,geo_level_3_id,int64,11595,0,"[12198, 2812, 8973, 10694, 1488]"
4,count_floors_pre_eq,int64,9,0,"[2, 3, 1, 4, 5]"
5,age,int64,42,0,"[30, 10, 25, 0, 15]"
6,area_percentage,int64,84,0,"[6, 8, 5, 9, 3]"
7,height_percentage,int64,27,0,"[5, 7, 9, 4, 6]"
8,land_surface_condition,object,3,0,"[t, o, n]"
9,foundation_type,object,5,0,"[r, w, i, u, h]"
10,roof_type,object,3,0,"[n, q, x]"
11,ground_floor_type,object,5,0,"[f, x, v, z, m]"
12,other_floor_type,object,4,0,"[q, x, j, s]"
13,position,object,4,0,"[t, s, j, o]"
14,plan_configuration,object,10,0,"[d, u, s, q, m]"
15,has_superstructure_adobe_mud,int64,2,0,"[1, 0]"
16,has_superstructure_mud_mortar_stone,int64,2,0,"[1, 0]"
17,has_superstructure_stone_flag,int64,2,0,"[0, 1]"
18,has_superstructure_cement_mortar_stone,int64,2,0,"[0, 1]"
19,has_superstructure_mud_mortar_brick,int64,2,0,"[0, 1]"
20,has_superstructure_cement_mortar_brick,int64,2,0,"[0, 1]"
21,has_superstructure_timber,int64,2,0,"[0, 1]"
22,has_superstructure_bamboo,int64,2,0,"[0, 1]"
23,has_superstructure_rc_non_engineered,int64,2,0,"[0, 1]"
24,has_superstructure_rc_engineered,int64,2,0,"[0, 1]"
25,has_superstructure_other,int64,2,0,"[0, 1]"
26,legal_ownership_status,object,4,0,"[v, a, r, w]"
27,count_families,int64,10,0,"[1, 0, 2, 3, 4]"
28,has_secondary_use,int64,2,0,"[0, 1]"
29,has_secondary_use_agriculture,int64,2,0,"[0, 1]"
30,has_secondary_use_hotel,int64,2,0,"[0, 1]"
31,has_secondary_use_rental,int64,2,0,"[0, 1]"
32,has_secondary_use_institution,int64,2,0,"[0, 1]"
33,has_secondary_use_school,int64,2,0,"[0, 1]"
34,has_secondary_use_industry,int64,2,0,"[0, 1]"
35,has_secondary_use_health_post,int64,2,0,"[0, 1]"
36,has_secondary_use_gov_office,int64,2,0,"[0, 1]"
37,has_secondary_use_use_police,int64,2,0,"[0, 1]"
38,has_secondary_use_other,int64,2,0,"[0, 1]"
39,damage_grade,int64,3,0,"[3, 2, 1]"

In [27]:
data.shape

(260601, 40)

In [29]:
data = data.dropna()

In [31]:
data.shape

(260601, 40)

In [33]:
data.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [35]:
data = data.drop_duplicates(subset='building_id')

In [37]:
data.shape

(260601, 40)

In [48]:
# Assuming your dataframe is called df
columns_with_secondary_use = [col for col in data.columns if col.startswith('has_secondary_use')]
print(columns_with_secondary_use)

[]

In [39]:
columns_to_drop = ['building_id']# + columns_with_secondary_use
data = data.drop(columns=columns_to_drop)

In [41]:
data.shape

(260601, 39)

In [52]:
data.describe()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,damage_grade
count,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000
mean,13.900353,701.074685,6257.876148,2.129723,26.535029,8.018051,5.434365,0.088645,0.761935,0.034332,0.018235,0.068154,0.075268,0.254988,0.085011,0.042590,0.015859,0.014985,0.983949,2.238272
std,8.033617,412.710734,3646.369645,0.727665,73.565937,4.392231,1.918418,0.284231,0.425900,0.182081,0.133800,0.252010,0.263824,0.435855,0.278899,0.201931,0.124932,0.121491,0.418389,0.611814
min,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,7.000000,350.000000,3073.000000,2.000000,10.000000,5.000000,4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
50%,12.000000,702.000000,6270.000000,2.000000,15.000000,7.000000,5.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,21.000000,1050.000000,9412.000000,2.000000,30.000000,9.000000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000
max,30.000000,1427.000000,12567.000000,9.000000,995.000000,100.000000,32.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,3.000000

In [54]:
summarize_dataframe(data)

,Column,Data Type,Unique Values,Missing Values,Sample Unique Values
0,geo_level_1_id,int64,31,0,"[6, 8, 21, 22, 11]"
1,geo_level_2_id,int64,1414,0,"[487, 900, 363, 418, 131]"
2,geo_level_3_id,int64,11595,0,"[12198, 2812, 8973, 10694, 1488]"
3,count_floors_pre_eq,int64,9,0,"[2, 3, 1, 4, 5]"
4,age,int64,42,0,"[30, 10, 25, 0, 15]"
5,area_percentage,int64,84,0,"[6, 8, 5, 9, 3]"
6,height_percentage,int64,27,0,"[5, 7, 9, 4, 6]"
7,land_surface_condition,object,3,0,"[t, o, n]"
8,foundation_type,object,5,0,"[r, w, i, u, h]"
9,roof_type,object,3,0,"[n, q, x]"
10,ground_floor_type,object,5,0,"[f, x, v, z, m]"
11,other_floor_type,object,4,0,"[q, x, j, s]"
12,position,object,4,0,"[t, s, j, o]"
13,plan_configuration,object,10,0,"[d, u, s, q, m]"
14,has_superstructure_adobe_mud,int64,2,0,"[1, 0]"
15,has_superstructure_mud_mortar_stone,int64,2,0,"[1, 0]"
16,has_superstructure_stone_flag,int64,2,0,"[0, 1]"
17,has_superstructure_cement_mortar_stone,int64,2,0,"[0, 1]"
18,has_superstructure_mud_mortar_brick,int64,2,0,"[0, 1]"
19,has_superstructure_cement_mortar_brick,int64,2,0,"[0, 1]"
20,has_superstructure_timber,int64,2,0,"[0, 1]"
21,has_superstructure_bamboo,int64,2,0,"[0, 1]"
22,has_superstructure_rc_non_engineered,int64,2,0,"[0, 1]"
23,has_superstructure_rc_engineered,int64,2,0,"[0, 1]"
24,has_superstructure_other,int64,2,0,"[0, 1]"
25,legal_ownership_status,object,4,0,"[v, a, r, w]"
26,count_families,int64,10,0,"[1, 0, 2, 3, 4]"
27,damage_grade,int64,3,0,"[3, 2, 1]"

In [62]:
os.getcwd()

'C:\\Users\\Administrator\\Desktop\\raphi_other\\repositories\\template_project\\src'

In [64]:
new_path = r"C:\Users\Administrator\Desktop\raphi_other\repositories\mini_comp\data"  # Replace with your target directory
os.chdir(new_path)

In [46]:
data.to_csv(r'../data/interim/all_train_data.csv', index=False)

# Data Changes to be done:

- Check duplicate drop by building

## Helpful Actions

In [ ]:
pct = np.percentile(data.loc[:, 'search_views'].fillna(np.mean(data.loc[:, 'search_views'])), 95)
print(pct)
print(data.shape)
data = data.loc[data.loc[:, 'search_views'] < pct]
print(data.shape)

In [ ]:
#convert created_date and deleted_date to datetime.
data[['created_date','deleted_date']] = data[['created_date','deleted_date']].apply(
    lambda _: pd.to_datetime(_))

#create the live_days column.
data['live_days'] = (data['deleted_date'] - data['created_date']).dt.days

In [ ]:
#drop all cars with first_registration_year of more than 2022
data = data[data['first_registration_year'] <= 2024]

#drop all columns with negative live days. (since you cannot have a listing deleted before it is created)
data = data[data['live_days'] >= 0]

#drop all negative stock days
data = data[data['stock_days'] >= 0]

#drop all cars with price less than 100 euros
data = data[data.price > 100]

In [ ]:
columns_to_drop = ['deleted_date', 'created_date', 'first_registration_year', 'article_id', 'ctr']
data = data.drop(columns=columns_to_drop)